:root {
    --ui-green: #99cc00;
    --ui-green-hover: #669900;
    --ui-green-active: #336600;
    --ui-blue: #25AFF4;
    --ui-orange: #F49D25;
    --ui-white: #ffffff;
    --ui-light-gray: #F2F2F2;
    --ui-gray: #B3B3B3;
    --ui-dark-gray: #6B6B6B;
    --ui-aqua: #26D9BB;
    --ui-purple: #824DCB;
    --ui-pink: #D2479D;
}

@font-face {
    font-family: 'scratchFont';
    font-style: normal;
    font-weight: 400;
    src: url("/resources/font/scratch.tff");
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v54/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

body {
    margin: 0px;
    height: 100%;
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    background-color: var(--ui-light-gray);
}

header {
    position: fixed;
    top: 0;
    font-size: 2rem;
    text-align: center;
    width: 100%;
    background: var(--ui-green);
    color: var(--ui-white);
    box-shadow: 0 0 3px rgb(0, 0, 0, .25);
    border-bottom: 1px solid rgb(0, 0, 0, .1);
}

header>ul {
    display: flex;
    overflow-x: auto;
    margin: 0 auto;
    padding: 0;
    text-align: start;
}

header>ul>li {
    max-height: 30px;
    padding: 10px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    margin-right: 20px;
    cursor: pointer;
}

header li:hover {
    background-color: var(--ui-green-hover);
}

header a {
    color: var(--ui-white);
    text-decoration: none;
    letter-spacing: 1.1px;
}

header li:not(:first-child) a {
    font-size: 14pt;
}

header li i.material-icons.md-18 {
    font-size: 18px;
}


header #dropdown {
    background-color: transparent;
    color: var(--ui-white);
    height: 30px;
    border: none;
    cursor: pointer;
    font-size: 16pt;
    vertical-align: middle;
    line-height: 16pt;
}


header #dropdown:focus,
header #dropdown:active {
    border: none;
}

header #dropdown option {
    color: var(--ui-dark-gray);
    background-color: var(--ui-light-gray);
    padding: 12px 16px;
    font-size: 14pt;
    text-decoration: none;
    display: block;
    text-align: center;
    cursor: pointer;
}

article {
    color: var(--ui-dark-gray);
    background-color: inherit;
    margin: 50px auto;
    padding: 20px 0;
    min-width: 75%;
    width: 75%;
}

article section,
article hr {
    margin-top: 1em;
    margin-bottom: 1em;
}
article section span+span,
article section span+span{
    margin-left: 1ch;
}

article>section>a {
    display: inline;
    color: var(--ui-green);
}

article>section>a:link,
article>section>a:visited {
    color: var(--ui-green);
    text-decoration: none;
}

article>section>a:hover {
    color: var(--ui-green-hover);
    text-decoration: none;
}

article>section>a:active {
    color: var(--ui-green-active);
    text-decoration: underline;
}
